@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swa");

*,
body,
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Merriweather", san-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-left {
  display: flex;
  align-items: center;
}
.flex-wrap {
  flex-wrap: wrap;
}

.fancytext {
  font-family: "Tangerine", "Merriweather", san-serif;
  font-size: 7em;
}

.menu {
  list-style: none;
  margin: auto 0;
}
.menu > li {
  padding: 0 1em;
  float: left;
  color: #fff;
}
.menu > li > i {
  font-size: 1.2em;
  margin: 0 0.25em;
}
.mobile-icon {
  font-size: 1.5em !important;
  margin: 0 0.5em !important;
}

.mobilemenu {
  list-style: none;
  margin: auto 0;
}
.mobilemenu > li {
  padding: 1em 0;
  color: #fff;
}
.mobilemenu > li > i {
  font-size: 1.2em;
  margin: 0 0.5em 0 0;
}

.container {
  padding: 5vh 5em;
}
.reveal {
  opacity: 1 !important;
  pointer-events: all !important;
  transition: all 0.5s ease-in-out;
}
.slidein {
  left: 0 !important;
  transition: all 1s ease-in-out;
}
.slideout {
  left: -100vw !important;
  transition: all 1s ease-in-out;
}

/* shop page */
.panel {
  height: 0;
  overflow: hidden;
  transition: height 0.1s ease-out;
}
.mobile_sidebar {
  display: none;
}

/* home */
.about_section > p {
  margin: 0 3em;
}

/* footer */
.socialicons > i {
  margin-right: 1em;
  font-size: 1.5em;
}

/* SHOPPING CART */
.fa-shopping-cart {
  color: #fff;
}

/* navbar */
.navbar {
  height: 4rem;
}
.stickynav {
  height: 65px !important;
  background: #333 !important;
  transition: 0.3s all ease-in-out;
}

/* components */
.image {
  background: none;
}
.image > img {
  width: auto;
  height: 22.5rem;
}

.container {
  z-index: 0;
  left: 0;
}

.item-container {
  background: #fff;
  width: 25rem;
  height: 32.5rem;
  padding: 0 1rem 3rem 1rem;
  margin-top: 6rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 0.5em 1em #343a40;
  text-align: center;
}

.item-name {
  display: block;
  padding-top: 0.5em;
  text-align: center;
  color: #4c4c4c;
  background: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
}
.size-form {
  display: inline-block;
  width: 200px;
  margin-left: 0.5em;
  padding: 1em 0;
}
.size-form input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}
.size-form label {
  font-size: 0.9em;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  margin: 0 0.25em 0 0;
}
.size-form label:hover {
  cursor: pointer;
  border: 1px solid #ccc;
}
.size-form input[type="radio"]:focus + label {
  border: 1px solid #af9e73;
}
.size-form input[type="radio"]:checked + label {
  border: 1px solid #af9e73;
}
/* add to cart bottom menu */
.addToCart {
  background: none;
  text-align: center;
}
.addToCartText {
  background: none;
}

/* shopping cart */
.shoppingCartContainer {
  right: 0;
  top: 4rem;
  width: 40rem;
  height: 100%;
  position: fixed;
  background: #343a40;
  box-shadow: 0 0 0.5em #343a40;
  color: #fff;
  padding: 2.5em 5em 5em 5em;
  text-align: center;
  overflow: auto;
  z-index: 1;
}
.cartTitle {
  background: none;
  font-weight: bold;
  padding-bottom: 2rem;
}
.verifyitems {
  background: none;
}
/* cart items */
.cart-item-container {
  background: #fff;
  margin-bottom: 2em;
  overflow: auto;
  box-shadow: 0 0.5em 1em #343a40;
}
.cart-name {
  color: #343a40;
  font-weight: bold;
  background: none;
}
.cart-price {
  color: #343a40;
  background: none;
}
.nextTo {
  text-align: left;
  height: auto;
}
.deleteButton {
  position: absolute;
  right: 0;
  margin-right: 3em;
  margin-top: -0.5em;
}
.subtotal {
  color: #343a40;
  background: none;
  display: block;
  width: 100%;
  text-align: right;
}
.quantity {
  color: #343a40;
  background: none;
}
.price {
  color: #343a40;
  background: none;
  display: block;
  padding-bottom: 0.5em;
}
.totalcost {
  color: #333;
}
/* placeholder*/
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #fff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #fff;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
  width: 20px;
}
/* track */
::-webkit-scrollbar-track {
  background: #292d30;
  box-shadow: inset 0 0 5px #000;
}
/* handle */
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px #000;
  background: #69614c;
}
/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c5440;
}

@media only screen and (max-width: 1200px) {
  .item-container {
    margin-top: 6rem;
    margin-left: -3.5rem;
  }

  .landing_container {
    padding: 0 2em !important;
  }
  .landingtext {
    font-size: 5em;
  }
  .company-name {
    font-size: 1.7em !important;
  }
}
@media only screen and (max-width: 1063px) {
  .shoppingCartContainer {
    transform: translateX(100%);
    width: 100%;
    padding: 2.5em 4em 5em 2em;
    transition: 1s all ease-in;
  }
  .item-container {
    position: relative;
    margin-left: -12.5rem;
    left: 50%;
  }
  .display {
    transform: translateX(0);
    transition: 1s all ease-out;
  }
  .deleteButton {
    margin-right: 1.5em;
  }

  .landingtext {
    font-size: 4em;
  }
  .about_section > p {
    margin: 0 2em;
    text-align: center;
  }
  .vertical-line {
    display: none;
  }
  .company-name {
    font-size: 2.5em !important;
  }
  .horizontal-line {
    display: block !important;
    margin: 1em 0;
  }
  .image-box {
    width: 100% !important;
    height: 300px !important;
  }
  .text-box {
    width: 100% !important;
    height: auto !important;
  }
  .text-box > div {
    width: 85% !important;
    font-size: 0.9em !important;
  }
  .subscribe-title {
    font-size: 3.75em !important;
  }
  .subscribe-text {
    font-size: 1em !important;
  }
}

@media only screen and (max-width: 600px) {
  .sidebar {
    position: absolute;
    margin-top: 50px;
    left: -100vw;
    transition: left 1s ease-in-out;
  }
  .mobile_sidebar {
    display: block;
  }
}
